<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394574337657-3u212a10qgbjkosdtoasu96iteq475im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394574337657-3u212a10qgbjkosdtoasu96iteq475im</string>
	<key>API_KEY</key>
	<string>AIzaSyBBUFI51UdBPeYm-prPKU5aRFthKJ_5bmA</string>
	<key>GCM_SENDER_ID</key>
	<string>394574337657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.weslleyneri.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9bb8a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9bb8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394574337657:ios:f0b998319d88cf09</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9bb8a.firebaseio.com</string>
</dict>
</plist>